@import './mixins';

:root {
  --color-main--1: #000;
  --color-main--2: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include device-size(mobile) {
    padding: 15px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--color-main--1);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-dark--1);
  font-style: italic;
  opacity: 0.5;
}
