.team-logo {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;

  &-Hawks {
    background-image: url(../assets/nba-logos/Atlanta_Hawks/nba-atlanta-hawks-logo.png);
  }
  &-Celtics {
    background-image: url(../assets/nba-logos/Boston_Celtics/nba-boston-celtics-logo.png);
  }
  &-Nets {
    background-image: url(../assets/nba-logos/Brooklyn_Nets/nba-brooklyn-nets-logo.png);
  }
  &-Hornets {
    background-image: url(../assets/nba-logos/Charlotte_Hornets/nba-charlotte-hornets-logo.png);
  }
  &-Bulls {
    background-image: url(../assets/nba-logos/Chicago_Bulls/nba-chicago-bulls-logo.png);
  }
  &-Cavaliers {
    background-image: url(../assets/nba-logos/Cleveland_Cavaliers/cleveland-cavaliers-logo-symbol.png);
  }
  &-Mavericks {
    background-image: url(../assets/nba-logos/Dallas_Mavericks/dallas-mavericks-logo-symbol.png);
  }
  &-Nuggets {
    background-image: url(../assets/nba-logos/Denver_Nuggets/nba-denver-nuggets-logo-2018.png);
  }
  &-Pistons {
    background-image: url(../assets/nba-logos/Detroit_Pistons/nba-detroit-pistons-logo.png);
  }
  &-Warriors {
    background-image: url(../assets/nba-logos/Golden_State_Warriors/nba-golden-state-warriors-logo-2020.png);
  }
  &-Rockets {
    background-image: url(../assets/nba-logos/Houston_Rockets/houston-rockets-logo-symbol.png);
  }
  &-Pacers {
    background-image: url(../assets/nba-logos/Indiana_Pacers/indiana-pacers-logo-symbol.png);
  }
  &-Clippers {
    background-image: url(../assets/nba-logos/Los_Angeles_Clippers/los-angeles-clippers-logo-symbol.png);
  }
  &-Lakers {
    background-image: url(../assets/nba-logos/Los_Angeles_Lakers/nba-los-angeles-lakers-logo.png);
  }
  &-Grizzlies {
    background-image: url(../assets/nba-logos/Memphis_Grizzlies/nba-memphis-grizzlies-logo.png);
  }
  &-Heat {
    background-image: url(../assets/nba-logos/Miami_Heat/miami-heat-logo-symbol.png);
  }
  &-Bucks {
    background-image: url(../assets/nba-logos/Milwaukee_Bucks/milwaukee-bucks-logo-symbol.png);
  }
  &-Timberwolves {
    background-image: url(../assets/nba-logos/Minnesota_Timberwolves/nba-minnesota-timberwolves-logo.png);
  }
  &-Pelicans {
    background-image: url(../assets/nba-logos/New_Orleans_Pelicans/nba-new-orleans-pelicans-logo.png);
  }
  &-Knicks {
    background-image: url(../assets/nba-logos/New_York_Knicks/nba-new-york-knicks-logo.png);
  }
  &-Thunder {
    background-image: url(../assets/nba-logos/Oklahoma_City_Thunder/oklahoma-city-thunder-logo-symbol.png);
  }
  &-Magic {
    background-image: url(../assets/nba-logos/Orlando_Magic/orlando-magic-logo-symbol.png);
  }
  &-76ers {
    background-image: url(../assets/nba-logos/Philadelphia_76ers/nba-philadelphia-76ers-logo.png);
  }
  &-Suns {
    background-image: url(../assets/nba-logos/Phoenix_Suns/phoenix-suns-logo-symbol.png);
  }
  &-Trail {
    background-image: url(../assets/nba-logos/Portland_Trail_Blazers/portland-trail-blazers-logo-symbol.png);
  }
  &-Kings {
    background-image: url(../assets/nba-logos/Sacramento_Kings/nba-sacramento-kings-logo.png);
  }
  &-Spurs {
    background-image: url(../assets/nba-logos/San_Antonio_Spurs/san-antonio-spurs-logo-symbol.png);
  }
  &-Raptors {
    background-image: url(../assets/nba-logos/Toronto_Raptors/nba-toronto-raptors-logo-2020.png);
  }
  &-Jazz {
    background-image: url(../assets/nba-logos/Utah_Jazz/nba-utah-jazz-logo.png);
  }
  &-Wizards {
    background-image: url(../assets/nba-logos/Washington_Wizards/washington-wizards-logo-symbol.png);
  }
}

.team-color {
  &-Hawks {
    &:before {
      background-color: rgba(225, 58, 62, 0.75);
    }
  }
  &-Celtics {
    &:before {
      background-color: rgba(0, 131, 72, 0.75);
    }
  }
  &-Nets {
    &:before {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  &-Hornets {
    &:before {
      background-color: rgba(0, 120, 140, 0.75);
    }
  }
  &-Bulls {
    &:before {
      background-color: rgba(206, 17, 65, 0.75);
    }
  }
  &-Cavaliers {
    &:before {
      background-color: rgba(111, 38, 61, 0.75);
    }
  }
  &-Mavericks {
    &:before {
      background-color: rgba(0, 83, 188, 0.75);
    }
  }
  &-Nuggets {
    &:before {
      background-color: rgba(14, 34, 64, 0.75);
    }
  }
  &-Pistons {
    &:before {
      background-color: rgba(29, 66, 138, 0.75);
    }
  }
  &-Warriors {
    &:before {
      background-color: rgba(0, 107, 182, 0.75);
    }
  }
  &-Rockets {
    &:before {
      background-color: rgba(206, 17, 65, 0.75);
    }
  }
  &-Pacers {
    &:before {
      background-color: rgba(0, 45, 98, 0.75);
    }
  }
  &-Clippers {
    &:before {
      background-color: rgba(200, 16, 46, 0.75);
    }
  }
  &-Lakers {
    &:before {
      background-color: rgba(85, 37, 131, 0.75);
    }
  }
  &-Grizzlies {
    &:before {
      background-color: rgba(93, 118, 169, 0.75);
    }
  }
  &-Heat {
    &:before {
      background-color: rgba(152, 0, 46, 0.75);
    }
  }
  &-Bucks {
    &:before {
      background-color: rgba(0, 71, 27, 0.75);
    }
  }
  &-Timberwolves {
    &:before {
      background-color: rgba(12, 35, 64, 0.75);
    }
  }
  &-Pelicans {
    &:before {
      background-color: rgba(0, 43, 92, 0.75);
    }
  }
  &-Knicks {
    &:before {
      background-color: rgba(0, 107, 182, 0.75);
    }
  }
  &-Thunder {
    &:before {
      background-color: rgba(0, 125, 195, 0.75);
    }
  }
  &-Magic {
    &:before {
      background-color: rgba(0, 119, 192, 0.75);
    }
  }
  &-76ers {
    &:before {
      background-color: rgba(0, 107, 182, 0.75);
    }
  }
  &-Suns {
    &:before {
      background-color: rgba(29, 17, 96, 0.75);
    }
  }
  &-Trail {
    &:before {
      background-color: rgba(224, 58, 62, 0.75);
    }
  }
  &-Kings {
    &:before {
      background-color: rgba(90, 45, 129, 0.75);
    }
  }
  &-Spurs {
    &:before {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  &-Raptors {
    &:before {
      background-color: rgba(6, 25, 34, 0.75);
    }
  }
  &-Jazz {
    &:before {
      background-color: rgba(249, 160, 27, 0.75);
    }
  }
  &-Wizards {
    &:before {
      background-color: rgba(0, 43, 92, 0.75);
    }
  }
}
